cdk.out/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
.terraform/
.terraform.lock.hcl
*.zip
*.tar.gz
*.tgz

# IDEs
.idea/
.vscode/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log